html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  background-color: burlywood;
}

#game {
  margin: 0 auto;
  width: 800px;
}

#welcome {

}

/* UI */

#ui {

}

#power-container {
  position: absolute;
  top: 45px;
  left: 20px;
  height: 25px;
  width: 200px;
  padding: 5px;
  background-color: black;
}

#power {
  text-align: center;
  line-height: 1.5;
  height: 100%;
  background-color: blue;
}

#health-container {
  top: 20px;
  left: 20px;
  height: 25px;
  width: 200px;
  padding: 5px;
  background-color: black;
}

#health {
  text-align: center;
  line-height: 1.5;
  height: 100%;
  background-color: red;
}

#menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu {
  width: 200px;
  height: 190px;
  background-color: burlywood;
  text-align: center;
}

#menu button {
  width: 60%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#devtools {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 170px;
  height: 275px;
  background-color: white;
}

#render-stats {
  margin: 0 auto;
}

#game-stats {
  margin: 0 auto;
}

/* Items */

.item-sword {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://localhost:4000/assets/textures/sword.png);
}

.item-armor {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://localhost:4000/assets/textures/chest.png);
}
